<h1> Items to Buy</h1>
  <form method="post" action="/checkout">
    <label for="name"> Item</label>
    <input type="text" id="item" name="item">
    <input id="submit" type="submit" value="Checkout">
  </form>